body { 
	background-image: url("MountainRange1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 70%;
	background-attachment: fixed;
	color: #1C2F7A;
}

/*welcome banner styles*/

h1 {
	font-family: 'PT Mono', monospace;
	font-weight: 500;
	font-size: 7em;
	color: #1C2F7A;
}

h3 {
	font-family: 'PT Mono', monospace;
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 2em;
	color: #1C2F7A;
}

hr {
	width: 10rem;
	color: white;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2) 
}

#welcome {
	text-align: center;
}

#websiteTag {
	text-align: center;
	padding-top: 25rem;
}

/*navbar styles*/

.mainNavbar{
	margin-top:5rem;
}

.navbar-brand, .nav-link {
	color: #1C2F7A;
}

/*makes hamburger menu blue*/
.navbar-light .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(27,51,125)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*following two classes make border transparent*/
.navbar-toggler:focus {
	outline:none !important;
}

.navbar-toggler {
	margin-top:1rem;
	border:transparent;
}
 
/*about pages styles*/

.about {
	background:rgba(99, 101, 104,0.65);
	margin-top: 30rem;
	margin-right: 8rem;
	margin-left: 8rem;
	margin-bottom:5rem;
	color: #FAEBD7;
}

.display-3 {
	font-family: 'Trebuchet MS';
	font-weight: 500;
	text-align: center;
	color: #FAEBD7;
}

.aboutMeText {
	font-size: 1.25rem;
	padding-right: 10rem;
	padding-left: 10rem;
	text-align: left;
}

.aboutMeText p{
	text-align: left;
	color: #FAEBD7;
	line-height: 2rem;
	margin-bottom: 10rem;
}

.heading {
	font-size: 1.75rem;
	text-align: left;
	color: black;
}

.headshot{
	border-radius: 50%;
	display: block;
	height: 15%;
	width: 15%;
	margin-right: auto;
	margin-left: auto;
}

#secondHr {
	color: #FAEBD7;
	width: 12rem;
	border-top: 3px solid #1C2F7A;
	border-bottom: 1px solid rgba(0,0,0,0.2) 
}

::-webkit-scrollbar { 
    display: none; 
}

/*top left icons*/

a:hover{
	text-decoration: none;
}

.icon {
	color: black;
	float: right;
	text-decoration: none;
}

.link {
	color: black;
}

/*making responive*/

@media only screen and (max-width: 600px){
	body { 
		align-content: center;
		background-image: url("MountainRange1.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 20%;
		background-attachment: fixed;
	}	
	.about {
		justify-content: center;
	}
	#welcome {
		text-align: center;
	}
	#websiteTag {
		font-size:1.4rem;
		text-align: center;
		padding-top: 14rem;
	}
	hr {
	width: 3rem;
	color: white;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2) 
	}
	.navbar-toggler-icon{
		height: 1.7rem;
		width: 1.7rem;
		margin-top:0.2rem;
		margin-left: 0.2rem;
		position: fixed;
	}
	.navbar-brand, .nav-link {
		margin-left: 1rem;
		color: #1C2F7A;
		font-size:1rem;
	}
	.navbar-brand{
		margin-top: 2rem;
	}
	#home {
		margin-top: 1.4rem;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	#musings {
		margin-top: 0;
		padding-top: 0;
	}

	/*about page*/
	.about {
		background:rgba(99, 101, 104,0.65);
		margin-top: 25rem;
		margin-right: auto;
		margin-left: auto;
		margin-bottom:1rem;
		color: #FAEBD7;
	}

	.display-3{
		font-size: 2.2rem;
		padding-top: 0.4rem;
	}

	#secondHr{
		width: 5rem;
	}
	.aboutMeText {
		font-size: 1rem;
		padding-right: 2rem;
		padding-left: 2rem;
		text-align: left;
	}

	.aboutMeText p{
		text-align: left;
		color: #FAEBD7;
		line-height: 2rem;
		padding-bottom: 2rem;
	}

	.heading {
		font-size: 1.3rem;
		text-align: left;
		color: black;
	}
}