body {  
	/*note: new background is lined pattern*/
	background-image: url("lines.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -5rem 0rem;
	background-attachment: fixed;
	background-color: rgb(255, 235, 239);
	color: #1C2F7A; 
}

.link{
	color: black;
}

#resume #projects #experience{
	position: relative;
	z-index: 10000 !important;
}

/*welcome banner styles*/

.landing {
	background-image: url("good.png");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
} 

.landing1{
	background-image: url("good.png");
	background-size: cover;
	background-repeat: repeat;
	background-position: 0rem 0rem;
	padding-bottom: 8rem;
	padding-top: 2rem;
}

.name {
	font-family: 'PT Mono', monospace;
	font-size: 18rem;
	margin-top: 13rem;
	margin-left: 5rem;
	margin-bottom: 16rem;
	text-shadow: 5px 5px 10px #C0C0C0;
	font-weight: 600;
	letter-spacing: -2rem;
	line-height: 13rem;
}

.name1{
	font-family: 'PT Mono', monospace;
	font-size: 10rem;
	text-shadow: 5px 5px 10px #C0C0C0;
	font-weight: 600;
	letter-spacing: -1rem;
	line-height: 7rem;
	margin-top: 3rem;
	margin-bottom: 4rem;
}

.description {

}

.circle{
	height: 20rem;
	width: 30rem;
	background-color: rgb(255, 235, 239);
	border-radius: 50%;
	display: inline-block;
	padding-top: 3.9rem;
	padding-right: 10rem;
}

h1 {
	font-weight: 500;
	font-size: 7em;
	color: #1C2F7A;
}

/*navbar styles*/

.mainNavbar{
	margin-top:5rem;
}
 
.navbar-nav{ 
	width: 100%;
	text-align:center; 
}

.navbar-brand, .nav-link {
	font-size: 1.5rem;
	font-weight: 600;
	color: #1C2F7A;
	letter-spacing: 0.1rem;
}

.nav-link1 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #1C2F7A;
	letter-spacing: 0.1rem;
}

/*about pages styles*/

.holder {
	margin-top: 10rem !important;
	margin-bottom: 12rem !important; 
	margin-left: 9rem !important;
}

.about{
	font-weight: 900;
}

.about1{
	font-weight: 600;
}

.aboutMeText{
	margin-right: 6rem;
	margin-left: 4rem;
	text-align: left;
	line-height: 3rem;
	letter-spacing: 1px;
}

.aboutMeText1{
	text-align: left;
	line-height: 3rem;
	letter-spacing: 1px;
	margin-top: 1rem;
	margin-left: 6rem;
}

#hr1 {
	width: 5rem;
	border-bottom: 3px solid #1C2F7A;
	border-right: 1px solid rgba(0,0,0,0.2);
	margin-left: 3rem;
	margin-top: 1rem;
}

#hr {
	width: 12rem;
	border-top: 3px solid #1C2F7A;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
	margin-left: 7rem;
}

.container2{
	background-color: #CCE5FF;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.container3{
	background-color: #CCE5FF;
	margin-top: 5rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.headshot {
	border-radius: 50%;
	display: block;
	height: 15rem;
	width: 15rem;
}

.headshot1{
	border-radius: 50%;
	display: block;
	height: 10rem;
	width: 10rem;
}

.footer{
	background:rgba(99, 101, 104,0.65);
	padding-top:5px;
	margin-right: 34rem;
	margin-left: 34rem;
	margin-bottom: 1rem;
	color: #CCE5FF;
}

.footer1{
	background:rgba(99, 101, 104,0.65);
	padding-top:5px;
	color: #CCE5FF;
}

::-webkit-scrollbar { 
    display: none; 
}

/*top right icons*/

a:hover{
	text-decoration: none;
}

.icon {
	color: #1C2F7A;
	/*float: center;*/
	text-decoration: none;
}

/*scrolled background*/
.navbar.scrolled {
	/*background: rgb(222,184,135,0.9);*/
	background:rgb(255, 235, 239, 0.7);
}