body { 
	background-image: url("MountainRange1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 70%;
	background-attachment: fixed;
	color: #1C2F7A;
}	

/*welcome banner styles*/

h1 {
	font-family: 'PT Mono', monospace;
	font-weight: 500;
	font-size: 7em;
	color: #1C2F7A;
}

h3 {
	font-family: 'PT Mono', monospace;
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 2em;
	color: #1C2F7A;
}

hr {
	width: 400px;
	color: white;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2) 
}

#welcome {
	text-align: center;
}

#websiteTag {
	text-align: center;
	padding-top: 25rem;
}

/*navbar styles*/

.mainNavbar{
	margin-top:5rem;
}

.navbar-brand {
	margin-left: 0.9rem;
	color: #1C2F7A;
}

.nav-link {
	margin-left: 0.9rem;
	color: #1C2F7A;
}

/*makes hamburger menu blue*/
.navbar-light .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(27,51,125)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*following two classes make border transparent*/
.navbar-toggler:focus {
	outline:none !important;
}

.navbar-toggler {
	margin-top:1rem;
	border:transparent;
}
 
/*about pages styles*/

.about {
	background:rgba(99, 101, 104,0.65);
	margin-top: 30rem;
	padding-top: 3rem;
	margin-right: 8rem;
	margin-left: 8rem;
	margin-bottom:3rem;
	text-align: left;
	color: #FAEBD7;
}

.display-3 {
	font-family: 'Trebuchet MS';
	font-weight: 500;
	text-align: center;
	color: #FAEBD7;
}

.aboutMeText {
	font-size: 1.5rem;
	padding-right: 8rem;
	padding-left: 8rem;
	text-align: left;
}

.about p{
	text-align: left;
	color: #FAEBD7;
	line-height: 2rem;
	padding-bottom: 2rem;
}

.heading {
	font-size: 2rem;
	text-align: left;
	color: black;
}

.headshot{
	border-radius: 50%;
	display: block;
	height: 15%;
	width: 15%;
	margin-right: auto;
	margin-left: auto;
}

#secondHr {
	color: #FAEBD7;
	width: 12rem;
	border-top: 3px solid #1C2F7A;
	border-bottom: 1px solid rgba(0,0,0,0.2) 
}

::-webkit-scrollbar { 
    display: none; 
}

@media (min-width: 400px) {
	#websiteTag {
		font-size: 2rem;
		vertical-align: middle;
	}
	hr {
		width: 10rem;
	}
}

@media (max-width: 960px) {
	.aboutMeText {
		font-size: 1rem;
		padding-right: 3rem;
		padding-left: 3rem
	}

	.about{
		margin-left: 0.4em;
		margin-right: 0.4rem;
		margin-bottom: 1.5rem;
	}

	.display-3{
		font-size: 2.25rem;
	}

	.headshot {
		height: 15%;
		width: 15%;
	}

	#secondHr {
		width: 5rem;
	}
}