/*navbar styles*/

.mainNavbar{
	margin-top:5rem;
}

.nav-link {
	margin-left: 0.9rem;
	color: #1C2F7A;
	font-size: 1.25rem;
}

/*makes hamburger menu blue*/
.navbar-light .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(27,51,125)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*following two classes make border transparent*/
.navbar-toggler:focus {
	outline:none;
}

.navbar-toggler {
	margin-top:1rem;
	border:transparent;
}

/*top right icons*/

a:hover{
	text-decoration: none;
}

.icon {
	float: right;
	text-decoration: none;
	color: black;
}

/*scroll bar off*/

::-webkit-scrollbar { 
    display: none; 
}

/*page styles*/

.title {
	text-align: center;
	font-weight:400;
	margin-top:3rem;
}

.title1{
	text-align: center;
}

.description {
	padding-right: 3rem;
	padding-left: 3rem;
	text-align: center;
}

.return {
	color: #1C2F7A;
	text-decoration: none;
}

hr {
	color: black;
	width: 12rem;
	border-top: 3px solid #1C2F7A;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.blog {
	margin-left: 20rem;
	margin-right: 20rem;
	margin-top: 2rem;
	margin-bottom: 5rem;
}

/*text*/

.container{
	padding-left: 3rem;
	padding-right: 3rem;
}

.date {
	font-weight: 600;
	letter-spacing: 0.15rem;
	color: #bbbfbe;
}

.date1{
	font-weight: 600;
	letter-spacing: 0.15rem;
	color: #bbbfbe;
	font-size: 1rem;
}

.postTitle {
	text-align: left;
	color: #ffb45f;
}

.subtitle {
	font-size: 1.25rem;
	letter-spacing: 0.1rem;
	line-height: 2.5rem;
	font-style: italic;
	margin-bottom: 0;
}

.blogText{
	font-size: 1.5rem;
	margin-bottom: 2rem;
	letter-spacing: 0.1rem;
	line-height: 2.5rem;
}

.blogText1 {
	font-size: 1rem;
	margin-bottom: 2rem;
	letter-spacing: 0.1rem;
	line-height: 2.5rem;
}

::-webkit-scrollbar { 
    display: none; 
}

a:hover {
	text-decoration: none;
}