.title {
text-align: center;
font-weight:400;
margin-top:3rem;
}

hr {
	color: black;
	width: 12rem;
	border-top: 3px solid #1C2F7A;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.blog {
	margin-left: 10rem;
	margin-right: 10rem;
	margin-top: 2rem;
}

/*navbar styles*/

.mainNavbar{
	margin-top:5rem;
}

.navbar-brand, .nav-link {
	margin-left: 0.9rem;
	color: #1C2F7A;
}

/*makes hamburger menu blue*/
.navbar-light .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(27,51,125)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*following two classes make border transparent*/
.navbar-toggler:focus {
	outline:none;
}

.navbar-toggler {
	margin-top:1rem;
	border:transparent;
}

/*text*/

.date {
	font-weight: 600;
	letter-spacing: 0.15rem;
	color: #bbbfbe;
}

.postTitle {
	text-align: left;
	color: #ffb45f;
}

.blogText {
	font-size: 1.5rem;
}

@media screen and (max-width: 415px){
	.title {
		font-weight: 300;
		margin-top: 10rem;
		font-size: 8rem;
		text-align: center;
	}
	.blog{
		margin-left:2rem;
		margin-right:2rem;

	}
	.postTitle{
		font-size: 5rem;
	}
	.blogText{
		font-size: 2rem;
	}
	.date{
		font-size: 1.5rem;
	}
	.navbar-toggler-icon{
		height: 5rem;
		width: 5rem;
		margin-top:2rem;
		margin-left: 2rem;
	}
	.navbar-brand, .nav-link {
	margin-left: 3.5rem;
	color: #1C2F7A;
	font-size:3rem;
	}
}