.title {
text-align: center;
font-weight:400;
margin-top:3rem;
}

.documentation {
	margin-left: 20rem;
	margin-right: 20rem;
	margin-top: 2rem;
	margin-bottom: 5rem;
}

hr {
	color: black;
	width: 12rem;
	border-top: 3px solid #1C2F7A;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

/*top right icons*/

a:hover{
	text-decoration: none;
}

.icon {
	float: right;
	text-decoration: none;
	color: black;
}

/*navbar styles*/

.mainNavbar{
	margin-top:5rem;
}

.nav-link {
	margin-left: 0.9rem;
	color: #1C2F7A;
	font-size: 1.25rem;
}

/*makes hamburger menu blue*/
.navbar-light .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(27,51,125)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*following two classes make border transparent*/
.navbar-toggler:focus {
	outline:none;
}

.navbar-toggler {
	margin-top:1rem;
	border:transparent;
}